@import './variables.scss';

$menu-height: 50px;

body {
  margin: 0;
  padding: 0;
  background-color: $blue-grey-1;
}

#app {
  color: $grey-9;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.full-width {
  width: 100%;
}

.container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: $menu-height calc(100vh - 50px);

  &.dark {
    background-color: #181818;

    .header {
      background-color: #202020;
    }
  }

  .header {
    height: 100%;
    width: 100%;
    background-color: #003045;
    box-shadow: $shadow-5;
    display: flex;
    // justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .main {
    width: 950px;
    height: 100%;
    // background-color: $grey-10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // margin: 0 auto;
    // margin-left: 50px;

    .header {
      width: 95%;
      height: 40px;
      background-color: #a0a0a0;
      margin-bottom: 40px;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      box-sizing: border-box;
      border-radius: 4px;

      .letra {
        background-color: #fff;
        color: #181818;
        padding: 2px 5px;
        box-sizing: border-box;
        transition: 0.2s linear;
      }

      .letra.ativa {
        background-color: #181818;
        color: $grey-5;
      }

      &.dark {
        background-color: #202020;
        color: #fff;

        .letra {
          background-color: #181818;
          color: $grey-5;
        }

        .letra.ativa {
          color: black;
          background-color: $grey-9;
        }
      }

      p {
        margin: 0;
      }

      div:first-child {
        width: 100%;
        text-align: center;
        display: flex;

        div:first-child {
          align-items: center;
          justify-content: center;
        }

        div:last-child {
          width: 100px;
          font-size: 12px;
          color: #5c5c5c;
        }
      }
    }

    .bottom {
      height: 35px;
      width: 95%;
      background-color: #a0a0a0;
      color: #181818;
      margin-top: 20px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 10px;
      box-sizing: border-box;
      font-size: 12px;

      &.dark {
        background-color: #202020;
        color: #fff;
      }
    }

    .container-teclado {
      width: 90%;
      height: 250px;
      background-color: $blue-grey-3;
      display: flex;
      grid-template-columns: 650px 180px;
      margin: 0 auto;
      justify-content: center;
      border-radius: 4px;
      box-shadow: 5px 5px 10px #474343;
      transition: 0.2s linear;

      section {
        padding: 10px 5px;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: repeat(6, 400px / 6);

        div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }

      .row {
        // margin-bottom: 5px;
        padding: 3px 5px;
        box-sizing: border-box;
        button {
          &.btn {
            margin-right: 4px;
            width: 35px;
            height: 38px;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 10px;
            border: none;
            border-radius: 4px;
            background-color: #d6d6d6;
            box-shadow: 2px 3px 10px #474343, -3px -3px 5px #fff;
            position: relative;
            outline: none;
            transition: 0.2s linear;

            .tooltip {
              position: absolute;
              top: 130%;
              left: 50%;
              transform: translate(-50%, 0);
              width: 250px;
              height: 40px;
              background-color: #fff;
              z-index: 50;
              transition: 0.2s linear;
              border-radius: 4px;
              padding: 5px;
              box-shadow: 2px 3px 10px #474343, -3px -3px 5px #fff;
              box-sizing: border-box;

              p {
                display: block;
                width: 100%;
              }
            }

            span:nth-child(2) {
              margin-top: 4px;
            }

            &.num-enter {
              height: 82px;
            }
          }
          &.special-shadow {
            box-shadow: 0px 5px 10px #474343, -3px -3px 10px #fff;
          }

          &.active {
            // background-color: red;
            box-shadow: 0px 0px 10px 2px #0004ffbb;
            color: #fff;
            z-index: 1;
            span {
              color: #0004ffbb;
              font-weight: 700;
              text-shadow: 0px 0px 4px #0004ffbb;
            }
          }

          &.typed {
            // background-color: red;
            box-shadow: 0px 0px 10px 2px #04d37dbb;
            color: #fff;
            z-index: 1;
            span {
              color: #04d37dbb;
              font-weight: 700;
              text-shadow: 0px 0px 4px #04d37dbb;
            }
          }

          &.backspace {
            width: 78px;
          }

          &.tab,
          &.shift,
          &.caps {
            width: 75px;
          }
          &.other {
            width: 50px;
          }

          &.enter {
            width: 115px;
            position: relative;
            border-top-right-radius: 0;
          }

          &:active {
            box-shadow: 1px 1px 2px #fff8f8, -1px -1px 2px #474343;
            span {
              color: black;
              font-weight: normal;
            }
          }

          &.space {
            width: 298px;
          }
        }
      }

      &.dark {
        background-color: #181818;
        box-shadow: 5px 5px 10px #474343, -5px -5px 10px #474343;

        .row {
          button {
            &.btn {
              background-color: #181818;
              color: rgb(165, 165, 165);

              .tooltip {
                background-color: #ff4c06;
                color: #fff !important;
              }
            }
            &.active {
              box-shadow: 0px 0px 10px 2px #107dac;
              span {
                color: #107dac;
              }
            }
            &:active {
              span {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.container-toggle {
  position: relative;
  width: auto;
  padding-right: 40px;
  box-sizing: border-box;
  cursor: pointer;

  label {
    position: relative;
    color: #fff;
    cursor: pointer;
  }

  input {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50px;
      background-color: $grey-7;
      transition: 0.2s linear;
    }

    &::after {
      content: '';
      position: absolute;
      top: -10%;
      left: -5%;
      width: 55%;
      height: 120%;
      border-radius: 50px;
      background-color: $grey-9;
      transition: 0.2s linear;
    }
  }

  input:checked {
    &::before {
      background-color: $grey-3;
    }
    &::after {
      left: 100%;
      transform: translate(-80%, 0);
      background-color: #066272;
      box-shadow: 5px 3px 5px #222222, -1px -1px 3px #a3a3a3;
    }
  }
}

.t-btn {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  opacity: 0.8;
  outline: none;

  &:hover {
    opacity: 1;
  }

  span {
    margin-right: 10px;
  }
}